/* Start Live News */
@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
/* End Live News */

@keyframes gearAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Typing animation title */
@keyframes cursor {
  to {
    border-left: 2px solid #E3C46C00;
  }
}

@keyframes words {
  0%, 33.33% { content: "HIMTIKA"; }
  33.34%, 66.66% { content: "Informatika"; }
  66.67%, 100% { content: "Kabinet Selaras"; }
}

@keyframes typing {
  /* Kata 1 */
  0%, 5% { width: calc(100% + 8px); }     /* Tutup */
  15%, 25% { width: 0; }                  /* Buka (Ngetik) */
  30%, 33% { width: calc(100% + 8px); } /* Tutup lagi (Hapus) */

  /* Kata 2 */
  34%, 38.33% { width: calc(100% + 8px); }
  48.33%, 58.33% { width: 0; }
  63.33%, 66.65% { width: calc(100% + 8px); }

  /* Kata 3 */
  67%, 71.66% { width: calc(100% + 8px); }
  81.66%, 91.66% { width: 0; }
  96.66%, 100% { width: calc(100% + 8px); }
}
/* Typing animation title */

/* image slider hero section */
@keyframes slide-hero-smooth {
  /* FOTO 1 (Diam di posisi 0%) */
	0%, 29.16% { transform: translateX(0); }

  /* TRANSISI GESER ke FOTO 2 (Sekitar 1 detik) */
	33.33% { transform: translateX(-25%); }

  /* FOTO 2 (Diam di posisi -25%) */
	33.33%, 62.5% { transform: translateX(-25%); }

  /* TRANSISI GESER ke FOTO 3 */
	66.66% { transform: translateX(-50%); }

  /* FOTO 3 (Diam di posisi -50%) */
	66.66%, 95.83% { transform: translateX(-50%); }

  /* RESET HALUS (Geser ke Foto 1 Buffer di posisi -75%) */
	100% { transform: translateX(-75%); }
}
/* image slider hero section */

/* Star animation kabinet */
@keyframes path {
    0%,
    34%,
    71%,
    100% {
    transform: scale(1);
    }
    17% {
    transform: scale(var(--scale_path_1, 1));
    }
    49% {
    transform: scale(var(--scale_path_2, 1));
    }
    83% {
    transform: scale(var(--scale_path_3, 1));
    }
}
/* Star animation kabinet */

/* Card animation kahim wahim */
@keyframes floating {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
}
@keyframes shine {
	0% { transform: translate(-50%, -50%) rotate(-25deg); opacity: 0; }
	10% { opacity: 1; }
	25% { transform: translate(50%, 50%) rotate(-25deg); opacity: 0; }
	100% { transform: translate(50%, 50%) rotate(-25deg); opacity: 0; }
}
/* Card animation kahim wahim */